.row{
    margin-top:0px;
    padding: 0;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.jobs-panel {
	margin-bottom: 0!important;
}

.filter-panel-body {
	padding-top: 0!important;
	padding-bottom: 0!important;
}

input, input[type="text"]{
    border-radius: 10px ;
}
