.top-buffer {
    margin-top:20px;
}

.bottom-buffer {
    margin-bottom:20px;
}

.text-muted {
    color: #636c72!important;
}

.pai-footer {
    font-size: 85%;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    width:100%;
    bottom:0;
    left:0;
}

.text-bold {
    font-weight: bold;
}

.title-overview {
    margin-bottom: 0px;
    margin-top: 0px;
}

.profile-img {
	width: 140px;
	height: 140px;
}

@media (min-width:992px){

    .account-display-text { display: inline-block!important; }
    .account-display-icon { display: none!important; }

  }

@media (max-width:991px){

    .account-display-text { display: none!important; }
    .account-display-icon { display: inline-block!important; }

  }


@media (max-width:300px){

		.profile-img {
	width: 100px;
	height: 100px;
		}

  }
